*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font: 24px sans-serif;
}

.hlavicka {
  padding: 10px;
  border: 1px solid silver;
}

.logo {
  font-weight: bold;
  text-align: center;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
  background-color: #f0f0f0;
  color: #e74c3c;
  display: block;
  padding: 10px 20px;
}

a:hover {
  background-color: #e74c3c;
  color: white;
}

/* ---------------------------------------------------- */

/*
	Nakóduj stránku podle obrázku zadani-ukolu.jpg.
	Rozložení stránky se mění v breakpointech:
	- 640px
	- 1000px
*/
/* MOJE PRVNÍ ŘEŠENÍ
 .menu ul {
  list-style-type: none;
  padding-inline-start: 0;
  text-align: center;
}

li {
  margin-bottom: 2px;
}

.logo {
  margin-bottom: 20px;
}

@media (min-width: 640px) {
  .menu li {
    display: inline-block;
    width: 24%;
    margin-bottom: 0;
  }
}

@media (min-width: 1000px) {
  .hlavicka {
    display: flex;
    justify-content: space-between;
  }

  .menu li {
    display: inline-block;
    min-width: fit-content;
    width: 20%;
    margin-bottom: 0;
  }

  .logo {
    margin-bottom: 0;
    height: 3rem;
    line-height: 3rem;
  }
} */

.hlavicka {
   display: flex;
   flex-direction: column;
}
.menu {
  display: flex;
}
.logo {
  margin-bottom: 20px;
}
ul {
  margin: 0;
  padding: 0;
  width: 100%;
}
li {
  list-style: none;
  margin: 1px;
  padding: 0;
  text-align: center;
}
@media (min-width: 640px) {
  ul {
    display: flex;
  }
  li {
    width:25%;
  }
}
@media (min-width: 1000px) {
  .hlavicka {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    margin-bottom: 0;
  }
}
